*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  padding: 1.5rem;
  box-sizing: border-box;
}
.navbar {
  /* TODO change color to something more interesting this is for testing */
  background-color: aqua;
  font-size: 2rem;
  position: fixed;
  width: 100%;
  padding: 1.5rem 1rem;
}
a:link {
  text-decoration: none;
}
a:link,
a:visited {
  color: #fff;
}
