*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
footer {
  padding: 2rem;
}
.navbar {
  /* TODO change color to something more interesting this is for testing */
  background-color: rgb(23, 25, 25);
  font-size: 2rem;
  width: 100%;
  padding: 1.5rem 1rem;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}
.search-container {
  padding: 2rem;
}
a:link {
  text-decoration: none;
}
a:link,
a:visited {
  color: #fff;
}
